

SUPERVISOR_USER=your_user_name
SUPERVISOR_PASS=your_password

REDIS_HOST_fastest=127.0.0.1
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_password
REDIS_DB_okx=8

MYSQL_USER=your_user_name
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_PASSWORD=your_password



FEISHU_AUTH_CODE_tom=your_password
FEISHU_AUTH_CODE_jerry=your_password


API_KEY_quant=your_api_key
SECRET_KEY_quant=your_secret_key
PASSPHRASE=your_passphrase



LOCATION=CHINA
